h1 {
  display: none;
}

body {
  font-family: 'EB Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1.5rem;
  color: white;
  background: url('wave2.gif') no-repeat center center fixed;
  background-size: cover;
  text-transform: uppercase;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
    opacity: .9;
}

.bottom-phone-number {
  display: inline-block;
  opacity: .9;
}

.center-logo > img {
  position: absolute;
  top: 42%;
  left: 50%;
}

.footer {
  position: absolute;
  top: 93%;
  text-align: center;
  opacity: .9;
}

.email {
    position: relative;
    display: inline-block;
    float: left;
    opacity: .9;
}
.address {
  position: relative;
  display: inline-block;
  float: left;
  opacity: .9;
}
.disclaimer {
  position: relative;
  display: inline-block;
  float: left;
  opacity: .9;
}

@media only screen and (min-width: 100px) {
  body {
    font-size: .8rem;
  }
  .center-logo > img {
    margin-left: -175px;
    width: 350px;
  }
  .footer {
    top: 83%;
  }
}
@media only screen and (min-width: 510px) {
  body {
    font-size: .7rem;
  }
  .center-logo > img {
    margin-left: -200px;
    width: 400px;
  }
  .footer {
    top: 83%;
  }
}
@media only screen and (min-width: 768px) {
  .footer {
    top: 85%;
  }
}
@media only screen and (min-width: 1020px) {
  .caps {
    font-size: 1.1rem;
  }
  body {
    font-size: .9rem;
  }
  .bottom-phone-number {
    display: inline-block;
    font-family: 'EB Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    font-size: 1.3rem;
    letter-spacing: .2px;
    margin-top: -5px;
  }
  .center-logo > img {
    margin-left: -300px;
    width: 600px;
  }
  .footer {
    top: 93%;
  }
}
