h1 {
  display: none;
}

body {
  font-family: 'EB Garamond', 'Baskerville', "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
  font-size: 1.5rem;
  color: black;
  opacity: .9;
  background-color: #fbfbf9;
}

a, a:visited {
  color: inherit;
  text-decoration: none;
}

.top-phone-number {
  display: none;
}

.bottom-phone-number {
  display: block;
}

.center-logo > img {
  position: absolute;
  top: 38%;
  left: 50%;
}

.footer {
  position: absolute;
  top: 93%;
  text-align: center;
}

.email {
    position: relative;
    display: inline-block;
    float: left;
}
.address {
  position: relative;
  display: inline-block;
  float: left;
}
.disclaimer {
  position: relative;
  display: inline-block;
  float: left;
}

@media only screen and (min-width: 380px) {
  body {
    font-size: 1rem;
  }
  .center-logo > img {
    margin-left: -150px;
    width: 300px;
  }
  .footer {
    top: 85%;
  }
}
@media only screen and (min-width: 510px) {
  body {
    font-size: 1.2rem;
  }
  .footer {
    top: 87%;
  }
}
@media only screen and (min-width: 768px) {
  body {
    font-size: 1.3rem;
  }
  .footer {
    top: 90%;
  }
}
@media only screen and (min-width: 1020px) {
  .top-phone-number {
    display: block;
  }
  .bottom-phone-number {
    display: none;
  }
  .center-logo > img {
    margin-left: -200px;
    width: 400px;
  }
  .footer {
    top: 93%;
  }
}
